*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-block-size: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-inline-size: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}
